<% include ./partials/header %>


    
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active carousel-li"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="carousel-li"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="carousel-li"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/img/neurons1.jpg')">
            <div class="custom-caption d-none d-md-block">
              <h1 style="font-size:34px;font-weight:700; color:white">Neuronal Delivery</h1>
              <p></p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/img/researcher1.jpg')">
            <div class="custom-caption d-none d-md-block">
              <h1 style="font-size:34px; color:white; font-weight:700;">Where It Matters The Most</h1>
              <p></p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/img/petridish1.jpg')">
            <div class="custom-caption d-none d-md-block">
              <h1 style="font-size:34px; color:white; font-weight:700;">CytoDel</h1>
              <p></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>



    


            <div class="container home-about text-center">
                <div class="row align-items-center">
                       <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="col-wrapper">
                                <div class="col-wrapper-heading">
                                    <h4>About</h4>
                                </div>
                                <div class="col-wrapper-text text-muted">
                                    <p>
                                        Cytodel is a biopharmaceutical company that uses the tools of 21st century molecular biology to produce 
                                        recombinant derivatives of botulinum neurotoxin (BoNT)
                                    </p> 
                                </div>
                                <a href="#" class="btn btn-primary" role="button">More</a>
                            </div>
                       </div>
                       <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="col-wrapper">
                                <div class="col-wrapper-heading">
                                    <h4>Technology</h4>
                                </div>
                                <div class="col-wrapper-text text-muted">
                                   <p>
                                       The technology allows the Company to manipulate the BONT molecule into a drug delivery 
                                       vehicle that can deliver therapeutic molecules to the inside of neurons
                                   </p> 
                                </div>
                                <a href="#" class="btn btn-primary" role="button">More</a>
                            </div>
                       </div>
                        <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="col-wrapper">
                                <div class="col-wrapper-heading">
                                    <h4>Pipeline</h4>
                                </div>
                                <div class="col-wrapper-text text-muted">
                                   <p>
                                       Significant work has been accomplished for applications in the pharmaceutical BoNT and the biodefense markets
                                   </p> 
                                </div>
                                <a href="#" class="btn btn-primary" role="button">More</a>
                            </div>
                       </div>
                       <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="col-wrapper">
                                <div class="col-wrapper-heading">
                                    <h4>Products</h4>
                                </div>
                                <div class="col-wrapper-text text-muted">
                                   <p>
                                       CytoDel possess implications for advancing the treatment of nervous system disorders, chronic pain and neurodegenerative diseases.
                                   </p> 
                                </div>
                                <a href="#" class="btn btn-primary" role="button">More</a>
                            </div>
                       </div>
                </div>
            </div>


<div class="container-fluid">
    <div class="home-content">

    </div>
</div>

<div class="container home-news text-center">
                <div class="row align-items-center bonta">
                    
                </div>
                <div class="row align-items-center hideme">
                       <div class="col">
                            <div class="col-wrapper">
                                <div class="col-wrapper-heading">
                                    <h4>News</h4>
                                    <hr></hr>
                                </div>
                                <div class="col-wrapper-text text-muted text-icon">
                                    <p> <i class='fas fa-flask fa-2x'></i>
                                        Recombinant Derivatives of Botulinum Neurotoxin A Engineered for Trafficking Studies and Neuronal Delivery
                                    </p>
                                                                        <p> <i class='fas fa-flask fa-2x'></i>
                                        Recombinant Derivatives of Botulinum Neurotoxin A Engineered for Trafficking Studies and Neuronal Delivery
                                    </p>
                                </div>
                                <a href="#" class="btn btn-primary" role="button">More</a>
                            </div>
                       </div>
                       <div class="col">
                            <div class="col-wrapper">
                                <div class="col-wrapper-heading">
                                    <h4>Publications</h4>
                                    <hr></hr>
                                </div>
                                <div class="col-wrapper-text text-muted text-icon">
                                    <p> <i class='fas fa-newspaper fa-2x'></i>
                                        Recombinant Derivatives of Botulinum Neurotoxin A Engineered for Trafficking Studies and Neuronal Delivery
                                    </p>                                    
                                    <p> <i class='fas fa-newspaper fa-2x'></i>
                                        Recombinant Derivatives of Botulinum Neurotoxin A Engineered for Trafficking Studies and Neuronal Delivery
                                    </p>
                                </div>
                                <a href="#" class="btn btn-primary" role="button">More</a>
                            </div>
                       </div>
                </div>
            </div>


    





<% include ./partials/footer %>